version: "3.8"
services:
  angular: 
    build: 
      context: ./frontend
      dockerfile: dev.Dockerfile
    command: ["npm", "run", "start"]
    container_name: angular
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=dev
    links: 
      - express 

  express: 
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: express
    volumes:
      - ./backend:/backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=fkhjghg
      - JWT_EXPIRE_IN=7d
      - PORT=3000
      - NODE_ENV=development
      - MONGO_DB_USERNAME=bdeo-user1
      - MONGO_DB_PASSWORD=bdeo-pass1
      - MONGO_DB_HOST=database
      - MONGO_DB_PORT=27017
      - MONGO_DB_PARAMETERS=?authSource=bdeo
      - MONGO_DB_DATABASE=bdeo
    links:
      - database

  database:
    image: mongo
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=bdeo-user
      - MONGO_INITDB_ROOT_PASSWORD=bdeo-pass
      - MONGO_DB_USERNAME=bdeo-user1
      - MONGO_DB_PASSWORD=bdeo-pass1
      - MONGO_DB=bdeo
    volumes:
      - ./database:/home/mongodb
      - ./database/init-db.d/:/docker-entrypoint-initdb.d/
      - ./database/db:/data/db
    ports:
      - "27017:27017"