.description {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .beer-item {
    margin: 0px !important;
    .description {
      margin-top: 0px;
    }
    .title-image {
      img {
        height: 150px !important;
        object-fit: contain;
      }
    }
  }
}
