.description {
  margin-top: 60px;
}

.title-image {
  img {
    object-fit: contain;
    min-height: 100px !important;
    max-height: 700px;
  }
}

@media (max-width: 768px) {
  .beer-item {
    margin: 0px !important;
    .description {
      margin-top: 0px;
    }
    .title-image {
      img {
        height: 150px !important;
        object-fit: contain;
      }
    }
  }
}
